@using SistemaMedico.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    IEnumerable<Datos_Atleta> Atle = (IEnumerable<Datos_Atleta>)ViewBag.Atleta;

}

<div class="container-fluid">
    @*<div class="block-header">
            <h2>DASHBOARD</h2>
        </div>*@
    <div class="row el-element-overlay">
        <div class="col-md-12">
        </div>
        @foreach (Datos_Atleta oElemento in Atle)
        {
            <div class="col-lg-3 col-md-6">
                <div class="cardnigga">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1">
                            <img src="~/Perfiles/@oElemento.Foto" alt="user" />
                            <div class="el-overlay scrl-dwn">
                                <ul class="el-info">
                                    <li><a class="btn default btn-outline image-popup-vertical-fit" href="~/HistorialMedico/Crear/@oElemento.ID"><i class="icon-question"></i></a></li>
                                    <li><a class="btn default btn-outline image-popup-vertical-fit" href="~/Perfiles/@oElemento.Foto"><i class="icon-eye"></i></a></li>
                                    <li><a class="btn default btn-outline image-popup-vertical-fit" href="~/ExamenFisico/Crear/@oElemento.ID"><i class="mdi mdi-run"></i></a></li>
                                    @*  <li><a href="#">@Html.ActionLink("madasn",new { controller = "Articles", action = "Details",id = oElemento.ID })</a></li>*@

                                    @*<li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h4 class="box-title">@oElemento.Nombre_Completo</h4>
                            <h5>@oElemento.Correo_Electronico</h5>
                            <h5>Deporte</h5>
                            @*Html.ActionLink(article.Title,
                                      "Login",  // <-- Controller Name.
                                                       "Item" ,   // <-- ActionMethod
                                                                         new { id=article.ArticleID }, // <-- Route arguments.
                                                                                                              null  // <-- htmlArguments .. which are none. You need this value
                                //     otherwise you call the WRONG method ...
                                      //     (refer to comments, below).
                                      )*@
                            @*<button class="btn btn-default" type="button">@Html.ActionLink("madasn", "Crear","ExamenFisico", new {id = oElemento.ID ,nombre=oElemento.Nombre_Completo},new { @class = "" })</button>*@
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
