@using SistemaMedico.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

}

@section IndexCss
{
    <!-- JQuery Nestable Css -->
    <link href="~/Recursos/plugins/nestable/jquery-nestable.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="~/Recursos/css/style.css" rel="stylesheet">
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Lesiones
                <small>Drag &amp; drop hierarchical list with mouse and touch compatibility</small>
            </h2>
        </div>
        <div class="body">
            <div class="clearfix m-b-20">
                <div class="dd">
                    <ol class="dd-list">
                        <li class="dd-item" data-id="1">
                            <div class="dd-handle">Item 1</div>
                        </li>
                        <li class="dd-item" data-id="2">
                            <button data-action="collapse" type="button" style="display: block;">Collapse</button><button data-action="expand" type="button" style="display: none;">Expand</button>
                            <div class="dd-handle">Item 2</div>
                            <ol class="dd-list" style="">
                                <li class="dd-item" data-id="3">
                                    <div class="dd-handle">Item 3</div>
                                </li>
                                <li class="dd-item" data-id="4">
                                    <div class="dd-handle">Item 4</div>
                                </li>
                                <li class="dd-item" data-id="5">
                                    <button data-action="collapse" type="button">Collapse</button><button data-action="expand" type="button" style="display: none;">Expand</button>
                                    <div class="dd-handle">Item 5</div>
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="6">
                                            <div class="dd-handle">Item 6</div>
                                        </li>
                                        <li class="dd-item" data-id="7">
                                            <div class="dd-handle">Item 7</div>
                                        </li>
                                        <li class="dd-item" data-id="8">
                                            <div class="dd-handle">Item 8</div>
                                        </li>
                                    </ol>
                                </li>
                                <li class="dd-item" data-id="9">
                                    <div class="dd-handle">Item 9</div>
                                </li>
                                <li class="dd-item" data-id="10">
                                    <div class="dd-handle">Item 10</div>
                                </li>
                            </ol>
                        </li>
                        <li class="dd-item" data-id="11">
                            <div class="dd-handle">Item 11</div>
                        </li>
                        <li class="dd-item" data-id="12">
                            <div class="dd-handle">Item 12</div>
                        </li>
                    </ol>
                </div>
            </div>
            <b>Output JSON</b>
            <textarea cols="30" rows="3" class="form-control no-resize" readonly="">[{"id":1},{"id":2,"children":[{"id":3},{"id":4},{"id":5,"children":[{"id":6},{"id":7},{"id":8}]},{"id":9},{"id":10}]},{"id":11},{"id":12}]</textarea>
        </div>
    </div>
</div>

@section IndexScript
{    
    <!-- Select Plugin Js -->
    <script src="~/Recursos/plugins/bootstrap-select/js/bootstrap-select.js"></script>   

    <!-- Jquery Nestable -->
    <script src="~/Recursos/plugins/nestable/jquery.nestable.js"></script>

    <!-- Custom Js -->    
    <script src="~/Recursos/js/pages/ui/sortable-nestable.js"></script>

}